// Mixin to importing fonts via bulletproof @font-face

$font_path: "/fonts";

@mixin declare-font-face($font_family_name, $font_filename, $font_weight : normal, $font_style :normal, $font_stretch : normal) {
	@font-face {
		font-family: '#{$font_family_name}';
		src: url("#{$font_path}/#{$font_filename}.eot");
		src: url("#{$font_path}/#{$font_filename}.eot?#iefix") format('embedded-opentype'),
			 url("#{$font_path}/#{$font_filename}.woff") format('woff'),
			 url("#{$font_path}/#{$font_filename}.ttf") format('truetype'),
			 url("#{$font_path}/#{$font_filename}.svg##{$font_family_name}") format('svg');
		font-weight: $font_weight;
		font-style: $font_style;
		font-stretch: $font_stretch;
	}
}
